li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.header-mainnav__title,
a {
  text-decoration: none;
}

* {
  margin: 0;
}

.icons-modal {
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offer-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crew-icons__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.crew-icons__position:hover, .crew-icons__position:focus {
  color: white;
  background-color: #2196f3;
}

.crew-icons__thumb_color {
  fill: currentColor;
}

.crew-icons__thumb:not(:last-child) {
  margin-right: 10px;
}

.crew-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.footer-icon__list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icon__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon__link:hover, .footer-icon__link:focus {
  background-color: #2196f3;
}

.footer-icon_position:not(:last-child) {
  margin-right: 10px;
}

.footer-icon {
  margin-left: 72px;
}

.footer-icon__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
}

.footer-form__icon {
  position: absolute;
  top: 10px;
  right: 28px;
}

.main-nav {
  border-bottom: 1px solid #ececec;
}

.container-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-mainnav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-mainnav__title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  color: black;
  letter-spacing: 0.03em;
}

.web-title {
  color: #2196f3;
}

.site-nav {
  margin: 0;
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__active {
  color: #2196f3;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__active {
  position: relative;
}

.site-nav__active::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts-list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-list .contacts-link {
  color: #757575;
  fill: #757575;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87em;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .contacts-icon {
  margin-right: 10px;
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts-mail {
  margin-left: 30px;
}

body {
  font-family: Roboto, "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.huge-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  max-width: 1600px;
  background-color: var(--background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-centered {
  text-align: center;
}

.container-centered__title {
  font-family: Roboto, "sans-serif";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  color: white;
}

.container-centered__button {
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  left: 529px;
  top: 415px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  border-color: transparent;
}

.container-centered__backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1;
}

.container-centered__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.container-offer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-offer__hidden {
  display: none;
}

.offer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-list .offer {
  margin-right: 30px;
  width: 270px;
}

.offer-list .offer:last-child {
  margin-right: 0px;
}

.offer-list .offer-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  color: #212121;
  text-transform: uppercase;
}

.section.work {
  padding-bottom: 94px;
}

.work-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16em;
  color: #212121;
  text-align: center;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list__photo:not(:last-child) {
  margin-right: 30px;
}

.work-list__title h3 {
  padding: 27px 82px 27px 83px;
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.16;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.work-list__photo {
  position: relative;
  height: 294px;
}

.work-list__title {
  position: absolute;
  color: var(--white-color);
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

.crew-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crew-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.crew-section .crew-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16em;
  color: #212121;
  text-align: center;
}

.crew {
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: white;
}

.crew-position {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  text-align: center;
}

.crew:not(:last-child) {
  margin-right: 30px;
}

.crew-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.crew-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  margin: 0;
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
}

.section.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-left: 490px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
}

.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
}

.modal-form {
  text-align: left;
  padding: 12px 40px 40px 40px;
}

.modal-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #757575;
}

.modal-form__field:nth-child(-n + 3) {
  margin-bottom: 10px;
}

.modal-form__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__input {
  padding-left: 40px;
  height: 40px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__input:hover + .icons-modal,
.modal-form__inputfocus + .icons-modal {
  fill: #2196f3;
}

.icons-modal {
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

textarea:hover, textareafocus {
  border-color: #2196f3;
}

.modal-form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.modal-form__checkbox:checked + .modal-form__castom {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../img/icon-check.svg);
  background-size: cover;
  background-position: center;
}

.modal-form__castom {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.modal-form__castom__link {
  color: #2196f3;
  text-decoration: underline;
}

.modal-form__button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-family: Roboto, "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 0.53;
  color: white;
  margin-left: 124px;
  cursor: pointer;
}

.clients-list_position:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-link_color, .clients-list__link:hover,
.clients-list__link:focus .clients-link_color, .clients-list__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.clients-link_color {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  color: white;
}

.footer-list {
  margin-top: 10px;
}

.footer-list .footer-list__contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .footer-list__contacts:hover, .footer-list .footer-list__contacts:focus {
  color: #2196f3;
}

.footer-list .footer-list__street {
  color: white;
}

.contacts-footer_position:not(:last-child) {
  margin-bottom: 9px;
}

.footer-form {
  margin-left: 93px;
}

.footer-form__title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.footer-form__subscribe {
  color: white;
  margin-right: 20px;
}

.footer-form__input {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

.footer-form__button {
  margin-left: 12px;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
  border-color: transparent;
}

.container-offer__hiden {
  display: none;
}

.section.wrap {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .all {
  width: 73px;
}

.buttons .web {
  width: 128px;
}

.buttons .apss {
  width: 145px;
}

.buttons .des {
  width: 103px;
}

.buttons .mar {
  width: 130px;
}

.link-button:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 38px;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover, .button-portfolio:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: white;
}

.wrap-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap-block {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap-block:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.wrap-block:nth-child(3n) {
  margin-right: 0px;
}

.pseudo-el {
  position: absolute;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.pseudo-el::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pseudo-el_text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: var(--white-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pseudo-el_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: white;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap-block:hover .pseudo-el::before,
.wrap-block:hover .pseudo-el_text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wrap-block:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img {
  height: 294px;
}

.under-photo {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.title-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.under-title {
  font-size: 16px;
  line-height: 1.87em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */